<div class="container">
    <% if flash[:notice] %>
        <%= flash[:notice] %>
    <% end %>
    <% if @user.errors.any? %>
        <%= @user.errors.count %>error
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
     <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
    <div class="row">
        <h2>User info</h2>
        <%=form_for(@user) do |f| %>
        <strong>name</strong><%= f.text_field :name %><br>
        <strong>Image</strong>
        <%= f.attachment_field :profile_image %>
        <strong>Introduction</strong><%=f.text_area :introduction %><br>
        <%=f.submit 'Update User' %>
<% end %>
    </div> 
</div>
