<div class='container'>
    <% if @book.errors.any? %>
        <%= @book.errors.count %>error
        <% @book.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
    <p id="notice"></p>
     <div class="row">
        <div class="col-lg-2"> 
            <h2>User info</h2>
              <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
             <table class="table">
                <tr>
                <td>name</td>
                <td><%= @user.name %></td>
                </tr>
                <tr>
                <td>introduction</td>
                <td><%= @user.introduction %></td>
                </tr>
                <td>
            </table>
            <%=link_to "",edit_user_path(current_user.id),class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
            <h2>New Book</h2>
            <%= form_for(@book) do |f| %>
                <h4>Title</h4>
                <%= f.text_field :title %>
                <h4>Opinion</h4>
                <%=f.text_area :body %><br>
                <%=f.submit 'CreateBook' %>
            <% end %>
            
        </div>
        <div class="col-lg-10"> 
            <h2>Books</h2>
            <table class="table">
                <thead>
                <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                </tr>
                </thead>
                <tbody>
                    <% @books.each do |book| %>
                        <tr>
                            <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", style:"width:40px;height:40px;"%><br><%=link_to book.user.name,user_path(book.user_id) %></td>
                            <td><%= link_to book.title,book_path(book) %></td>
                            <td><%= book.body %></td>
                            
                        </tr>
                        
                    <% end %>   
                </tbody>
            </table>
        </div>
    </div>>